body {
  background: rgb(255, 101, 101);
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
  just
}


.title {
  background: #e3f4ff;
  padding: 10px;
}

.middle{
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.content {
  background: #e3f4ff;
  padding: 10px;
 }

.bottom{
  background: #e3f4ff;
  padding: 10px;
}
.button-container, .big-button{
  background: #e3f4ff;
  text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 24px;
  
  }